.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove unnecessary padding */
    background: none; /* Remove any background color */
    box-shadow: none; /* Remove shadow around the container */
    border-radius: 0; /* Ensure no rounded corners for the container */
}
.profile-pic {
    width: 150px; /* Adjust the size as needed */
    height: 150px;
    border-radius: 50%; /* Keeps the image circular */
    object-fit: cover; /* Ensures the image fits well */
    border: 3px solid #5a8afa; /* Adds a circular border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow to the image */
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
header {
    background: linear-gradient(to right, #000000, #333333);
    color: #fff;
    padding-top: 10px;
    min-height: 70px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
header h1 {
    font-family: 'Lora', serif;
    text-align: center;
    margin: 0;
    padding-bottom: 10px;
}
nav {
    background: linear-gradient(to right, #0056b3, #1b8ff5);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
nav a {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 15px;
    letter-spacing: 1px;
}
nav a:hover {
    color: #333;
}
.container {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
}
.main-content {
    width: 95%;
    padding: 0 5px;
    box-sizing: border-box;
    margin: 0 auto;
}
section {
    margin-bottom: 20px;
    padding: 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
h2 {
    font-family: 'Lora', serif;
    color: #0779e4;
    border-bottom: #e2e2e2 2px solid;
    padding-bottom: 5px;
}
footer {
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: #fff;
    background: #333;
}
.certificate-list {
    list-style: none;
    padding: 0;
}
.certificate-list li {
    margin-bottom: 5px;
    padding-left: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}
.certificate-list li:before {
    content: "\2022"; /* Bullet point */
    color: #0779e4;
    font-weight: bold;
    position: absolute;
    left: 0;
}
